{# 
    ***********************************************************************************
    *                                    INDEX
    ***********************************************************************************
#}
{% block index %}
    <h2>FUNC: INDEX</h2>
    <p>{{info.empresa}}</p>
    {{info.html|raw}}

    <h4>Abaixo todas as variáveis disponíveis.</h4>
    <pre style="overflow: hidden;">
        {# Percorre todas as variáveis #}
        {% for key, row in _context %}
            {# Verifica se é um array #}
            {% if row is iterable and key != '_parent' %}
                {# Percorre todas as linhas #}
                {% for c, col in row %}
                    {# Verifica se é um array #}
                    {% if col is iterable %}
                        {% for c2, col2 in col %}
                            <br> <b>[{{key}}.{{c}}.{{c2}}]</b>={{col2}}
                        {% endfor %}
                    {% else %}
                        {# Não é um array, então imprimi o valor. #}
                        <br> <b>[{{key}}.{{c}}]</b>={{col}}
                    {% endif %}
                {% endfor %}
            {% else %}
                {# Não é um array, então imprimi o valor. #}
                {% if key != '_parent' %}
                    <br><b>[{{key}}]</b>={{row}} 
                {% endif %}
            {% endif %}
        {% endfor %}
    </pre>


{% endblock %}


{# 
    ***********************************************************************************
    *                                    PUT - PERSONALIZADO
    ***********************************************************************************
#}
{% block put %}
{{info.html|raw}}
{% endblock %}


{# 
    ***********************************************************************************
    *                                    POST - PERSONALIZADO
    ***********************************************************************************
#}
{% block post %}
{{info.html|raw}}
{% endblock %}


{# 
    ***********************************************************************************
    *                                    GET - PERSONALIZADO
    ***********************************************************************************
#}
{% block get %}
{{info.html|raw}}
{% endblock %}


{# 
    ***********************************************************************************
    *                                    GETFULL - PERSONALIZADO
    ***********************************************************************************
#}
{% block getfull %}
{{info.html|raw}}
{% endblock %}


{# 
    ***********************************************************************************
    *                                    DELETE - PERSONALIZADO
    ***********************************************************************************
#}
{% block delete %}
{{info.html|raw}}
{% endblock %}


{# 
    ***********************************************************************************
    *                                    TEST - PERSONALIZADO
    ***********************************************************************************
#}
{% block test %}
{{info.html|raw}}
{% endblock %}


{# 
    ***********************************************************************************
    *                                    DASHBOARD - PERSONALIZADO
    ***********************************************************************************
#}
{% block dashboard %}
    <h2>FUNC: DASHBOARD</h2>
    <p>{{info.empresa}}</p>
    {{info.html|raw}}

    <h4>Função personalizada</h4>
{% endblock %}