{# 
    ***********************************************************************************
    *                                    INDEX
    ***********************************************************************************
#}
{% block index %}
{{info.html|raw}}
{% endblock %}



{# 
    ***********************************************************************************
    *                                    PUT - PERSONALIZADO
    ***********************************************************************************
#}
{% block put %}
{{info.html|raw}}
{% endblock %}



{# 
    ***********************************************************************************
    *                                    POST - PERSONALIZADO
    ***********************************************************************************
#}
{% block post %}
{{info.html|raw}}
{% endblock %}



{# 
    ***********************************************************************************
    *                                    GET - PERSONALIZADO
    ***********************************************************************************
#}
{% block get %}
{{info.html|raw}}
{% endblock %}



{# 
    ***********************************************************************************
    *                                    GETFULL - PERSONALIZADO
    ***********************************************************************************
#}
{% block getfull %}
{{info.html|raw}}
{% endblock %}



{# 
    ***********************************************************************************
    *                                    DELETE - PERSONALIZADO
    ***********************************************************************************
#}
{% block delete %}
{{info.html|raw}}
{% endblock %}



{# 
    ***********************************************************************************
    *                                    TEST - PERSONALIZADO
    ***********************************************************************************
#}
{% block test %}
{{info.html|raw}}
{% endblock %}



{# 
    ***********************************************************************************
    *                                    DASHBOARD - PERSONALIZADO
    ***********************************************************************************
#}
{% block dashboard %}
{{info.html|raw}}
{% endblock %}