#########################################################################
# 					Proteção do arquivo HTACCESS     					#
#########################################################################
<files ~ "^.*\.([Hh][Tt][Aa])">
order allow,deny
deny from all
satisfy all
</files>
# Proteção do arquivo HTACCESS - FIM
#########################################################################



#########################################################################
# 							URL amigável                                #
#########################################################################
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/?$ index.php?url=$1 [QSA,L,NC]
# URL amigável - FIM
#########################################################################
