<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Head -->
    {% block head %}{% endblock %}

</head>
<body>

    <!-- Topo -->
    <div id="body_top">
        {% block top %}{% endblock %}
    </div>

    <!-- Cabeçalho -->
    <div id="body_header">
        {% block header %} {% endblock %}
    </div>

    <!-- Pré conteúdo -->
    <div id="body_pre">
        {% block body_pre %}{% endblock %}
    </div>

    <!-- Conteúdo -->
    <div id="body_corpo">
        {% block corpo %}{% endblock %}
    </div>

    <!-- Pós conteúdo -->
    <div id="body_pos">
        {% block body_pos %}{% endblock %}
    </div>

    <!-- Rodapé -->
    <div id="body_footer">
        {% block footer %}{% endblock %}
    </div>
    
</body>
</html>